.signup-default {
  height: calc(100vh - 6.481vh);
}

.signup-default .signup-container {
  width: 452px;
}

.signup-default .title {
  margin-top: 2.5926vh; /* 28px */
  margin-bottom: 6.7593vh; /* 73px */
}

.signup-default .button-wrap {
  width: 100%;
}

/* label과 helperText 간격 조절 */
.signup-default .set-bottom-margin {
  margin-bottom: 10px;
}

/* 입력창과 하단 버튼 간격 */
.signup-default .button-wrap {
  margin-top: 6.2963vh; /* 68px */
}
