.signin-wrap {
  height: calc(100vh - 9.537vh);
}

.signin {
  width: 489px;
}

.signin .title {
  margin-bottom: 8.241vh; /* 89px */
}

.signin .input-wrap {
  gap: 1.8519vh; /* 20px */

  width: 100%;
}

.signin .utils-wrap {
  margin-top: 1.6667vh; /* 18px */
  margin-left: 5px;
  margin-bottom: 7.4074vh; /* 80px */

  width: 100%;
}

.signin .utils-wrap .id-save {
  gap: 2px;
}

.signin .button-wrap {
  gap: 2.2222vh; /* 24px */

  margin-top: 7.6852vh; /* 83px */
  width: 100%;
}

.signin .button-wrap hr {
  width: 100%;
  border: 1px solid #bfbfbf;
}

.signin .button-wrap .register-btn-wrap {
  gap: 6px;
}
