:root {
  --grey1: #fbfbfb;
  --grey2: #f2f2f2;
  --grey3: #e2e2e2;
  --grey4: #bababa;
  --grey5: #bababa;
  --grey6: #777777;
  --grey7: #3c3c3c;

  --purple1: #280c5a;
  --purple2: #3c187c;
  --purple3: #52269e;
  --purple4: #6a39c0;
  --Main: #6a39c0;
  --purple5: #844fe2;
  --purple6: #9e67ff;
  --purple7: #b489ff;
  --purple8: #caabff;
  --purple9: #dfcdff;
  --purple10: #f5f0ff;

  --blue: #1976d2;
}
