:root {
  --Sub_Purple1: #6a5acd;
  --Sub_Purple2: #e4dfff;
  --Sub_Green1: #28c76f;
  --Sub_Green2: #dafdea;
  --Red: #ff0000;

  --Main_Blue: #007bff;
  --BG_Blue1: #cfe6ff;
  --BG_Blue2: #f2f8ff;
  --Bar_Blue: #ecf2ff;

  --Line: #e6e7eb;
  --BlueBlack: #272b33;
  --grey1: #808b96;
  --grey2: #eceff3;
  --White: #ffffff;

  --Text1: #8695b6;
}
