.p-12-400 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-16-400 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-18-400 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-20-400 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-36-400 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-36-600 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.p-40-400 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-48-400 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.t-align-center,
.t-center {
  text-align: center;
}

.t-align-right {
  text-align: right;
}

.c-black {
  color: #222;
}

.c-main {
  color: var(--Main, #9e30f4);
}

.c-grey {
  color: #898989;
}

.c-grey4 {
  color: var(--grey4, #bababa);
}

.c-grey5 {
  color: var(--grey5, #9e9e9e);
}

.c-grey6 {
  color: var(--grey6, #777);
}

.c-grey7 {
  color: var(--grey7, #3c3c3c);
}

.c-grey-8f8f8f {
  color: #8f8f8f;
}

.c-red {
  color: #ff0000;
}

.c-green {
  color: var(--Sub_Green1, #00c850);
}

.c-white {
  color: #ffffff;
}

.c-blue {
  color: var(--Main_Blue);
}

.t-underline {
  text-decoration-line: underline;
}
