.vm-create .create-section {
  padding-bottom: 30px;

  min-height: 75.3704vh; /* 814px */

  border-radius: 10px;
  box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.2);
}

.vm-create .inline-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6e7eb;
  border-radius: 8px;
  padding: 20px 16px;
  height: auto;
  min-height: 160px;
  background: #fff;
  transition: all 0.3s ease;
}

.vm-create .inline-grid img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 12px;
}

.vm-create .inline-grid span,
.vm-create .inline-grid p {
  font-weight: 500;
  margin-bottom: 10px;
}

.vm-create select,
.vm-create .hw-dropdown-root {
  width: 100% !important;
  min-height: 20px;
  margin-top: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #666;
}
