.vm-manage-modal .vm-manage-modal-title .title-btn-wrap {
  gap: 16px;
}

.vm-manage-modal .vm-modal-inside .vm-modal-column {
  gap: 21.753607103218645948945615982242%;
}

.vm-manage-modal .bottom-btn-wrap {
  display: flex;
  gap: 24px;
}

.vm-manage-modal .user-manage-btn {
  width: 121px;

  border: 1px solid var(--Line, #e6e7eb);
  background: var(--White, #fff);
}

.vm-manage-modal .link-btn {
  background: var(--Main_Blue, #007bff);
  color: #fff;
}
