@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@import "@fontsource/pretendard/index.css";
@import "@fontsource/inter/index.css";

@import "./styles/colors.css";
@import "./styles/text.css";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  a,
  li,
  input,
  button,
  label,
  textarea,
  hr {
    margin: 0;

    /* 전역 설정 */
    font-family: "pretendard", "Apple SD Gothic Neo", Sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }
}
